form {
    width: 600px;
    background-color: white;
    border: 10px solid;
    border-color: aqua;
    color: blue
}
h2 {
    background-color: red;
    color: white;
    text-align: center;
    margin-top: 0%;
}
li {
    color: brown;
}